.header {
    margin: 10px 0;
    &__top {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        line-height: 140%;
        @extend %roboto-400;
        color: #434645;
        margin-bottom: 25px;
    }
    &__city,
    &-info__item,
    &__item-link {
        transition: all .2s;
        &:hover {
            color: #E41F17;
        }
    }
    &__city {
        position: relative;
        padding-left: 22px;
        cursor: pointer;
        &::before {
            content: '';
            position: absolute;
            width: 12px;
            height: 19px;
            left: 0;
            top: -1px;
            background-image: url(../../img/icons/locate.svg);
            background-repeat: no-repeat;
        }
    }
    &-info__item + .header-info__item {
        margin-left: 20px;
    }
    &__info {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }
    &__info-btn {
        display: none;
        cursor: pointer;
    }
    &__logo {
        margin-right: 35px;
    }
    &__services,
    &__mobile-top__link {
        @extend %roboto-700;
        color: #fff;
        font-size: 16px;
        line-height: 130%;
        padding: 10px 30px;
        background-color: #E41F17;
        border-radius: 27px;
        margin-right: 12px;
        transition: all .2s;
        &:hover {
            background-color: $dark-red;
        }
    }
    &__mobile-top__link {
        font-size: 12px;
        padding: 6px 20px;
    }
    &__search-label {
        position: relative;
        margin-right: 75px;
    }
    &__search {
        border: 1px solid #E0E0E0;
        border-radius: 27px;
        padding: 11px 25px 10px;
        width: 560px;
        @extend %roboto-400;
        font-size: 16px;
        line-height: 140%;
        &::placeholder {
            color: #818992;
        }
    }
    &__search-icon {
        position: absolute;
        top: 15px;
        cursor: pointer;
        right: 25px;
    }
    &__favs {
        display: flex;
        width: 230px;
        justify-content: space-between;
    }
    &__favs-item,
    &__item {
        @extend %roboto-400;
        font-size: 14px;
        line-height: 140%;
        color: $dark;
    }
    &__favs-item {
        text-align: center;
        cursor: pointer;
    }
    &__favs-item img {
        display: inline-block;
    }
    &__list {
        display: flex;
    }
    &__item + .header__item {
        margin-left: 35px;
    }
    &__mobile-wrapper {
        min-height: 100vh;
    }
    &__mobile-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }
    &__mobile-top__close {
        cursor: pointer;
    }
    &__mobile-accordion {
        display: flex;
        justify-content: space-between;
    }
    &__mobile-accordion--active {
        .header__mobile-accordion__image {
            background-image: url(../../img/icons/up.svg);
        }
    }
    &__mobile-accordion__image {
        background-image: url(../../img/icons/down.svg);
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
    }
}

@media (max-width: 1200px) {
    .header {
        &__logo {
            margin-right: 15px;
        }
        &__search-label {
            margin-right: 30px;
        }
        &__search {
            width: 500px;
            font-size: 14px;
        }
        &__services {
            font-size: 14px;
        }
    }
}

@media (max-width: 1060px) {
    .header {
        &__logo {
            margin-right: 15px;
        }
        &__search-label {
            margin-right: 20px;
        }
        &__search {
            width: 400px;
            font-size: 12px;
        }
        &__search-icon {
            top: 12px;
        }
        &__services {
            font-size: 12px;
        }
        &__favs-item, 
        &__item {
            font-size: 12px;
        }
    }
}

@media (max-width: 900px) {
    .header {
        &__top,
        &__bottom,
        &__services,
        &__favs,
        &__search-label {
            display: none;
        }
        &__info {
            justify-content: space-between;
        }
        &__info-btn {
            display: block;
            margin-right: 0;
        }
    }
}