.slick-slider {
    position: relative;
}
.slick-prev,
.slick-next {
    font-size: 0;
    border: none;
    background-color: transparent;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    z-index: 10;
}
.slick-prev {
    transform: rotate(180deg);
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../../img/icons/slider-arrow-left.png);
}
.slick-next {
    position: absolute;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../../img/icons/slider-arrow-right.png);
}
.slick-dots {
    position: absolute;
    display: flex;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    button {
        opacity: 0;
        
    }
    li {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #E0E0E0;
    }
    li + li {
        margin-left: 10px;
    }
    .slick-active {
        background-color: $red;
    }
}