.vacancies {
    margin-bottom: 120px;
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 425px;
        border-radius: 18px;
        height: 275px;
        padding: 34px;
        color: $dark;
        background-repeat: no-repeat;
    }
    &__item--1 {
        background-image: url(../../img/vacancies/1.jpg);
    }
    &__item--2 {
        background-image: url(../../img/vacancies/2.jpg);
    }
    &__item--3 {
        background-image: url(../../img/vacancies/3.jpg);
    }
    &__name {
        @extend %roboto-700;
        font-size: 24px;
        line-height: 130%;
        margin-bottom: 4px;
    }
    &__back {
        @extend %roboto-400;
        font-size: 14px;
        line-height: 140%;
        color: #434645;
        margin-bottom: 17px;
    }
    &__salary {
        @extend %roboto-700;
        font-size: 18px;
        line-height: 131%;
        text-transform: uppercase;
        margin-bottom: 80px;
    } 
    &__link {
        @extend %roboto-700;
        font-size: 14px;
        line-height: 141%;
        text-transform: uppercase;
        position: relative;
        padding-right: 22px;
        text-decoration: underline;
        &::after {
            position: absolute;
            content: '';
            width: 16px;
            height: 16px;
            background-image: url(../../img/icons/arrow-right.svg);
            background-repeat: no-repeat;
            top: 0;
            right: 0;
        }
    }
}