.vacancy-one {
    &__title {
        margin-bottom: 20px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 70px;
    }
    &__descr {
        flex-basis: 540px;
    }
    &__descr-short {
        margin-bottom: 30px;
        display: flex;
        gap: 0 30px;
        @extend %roboto-700;
        font-size: 16px;
        color: $dark;
    }
    &__descr-text p {
        color: #434645;
        font-size: 18px;
        margin-bottom: 15px;
        @extend %roboto-400;
    }
    &__descr-text__active {
        display: none;
    }
    &__descr-text__button {
        @extend %roboto-700;
        color: $dark;
        font-size: 14px;
        padding: 10px 30px;
        border: 1px solid #181F22;
        border-radius: 27px;
        background-color: transparent;
        cursor: pointer;
        transition: all .3s;
        margin-top: 30px;
        &:hover {
            background-color: $light-grey;
        }
    }
    &__slider {
        position: relative;
        max-width: 650px;
        border-radius: 27px;
        .slick-prev,
        .slick-next {
            position: absolute;
            bottom: 0px;
            left: 24px;
            top: inherit;
        }
        .slick-next {
            left: 76px;
        }
    }
    &__article {
        max-width: 650px;
    }
    &__article-title {
        color: $dark;
        @extend %roboto-700;
        font-size: 32px;
        margin-bottom: 20px;
    }
    ul {
        list-style: inherit;
        margin-left: 30px;
    }
    &__article-item {
        margin-bottom: 15px;
        p {
            color: #434645;
            @extend %roboto-400;
            font-size: 18px;
        }
    }
    &__contacts {
        margin-top: 120px;
        display: flex;
        border-radius: 30px;
        margin-bottom: 160px;
        a {
            display: block;
            margin-bottom: 10px;
            color: #434645;
            @extend %roboto-400;
            font-size: 18px;
            padding-left: 30px;
            position: relative;
            &::before {
                background-repeat: no-repeat;
                left: 0;
                top: -1px;
                content: '';
                position: absolute;
            }
        }
    }
    &__contacts-info {
        padding: 107px 65px 80px 80px;
        background-color: #F2F6F7;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    &__contacts-title {
        color: $dark;
        @extend %roboto-700;
        font-size: 40px;
        margin-bottom: 40px;
    }
    &__contacts-phone::before {
        width: 18px;
        height: 19px;
        background-image: url(../../img/icons/icon-phone.svg);
    }
    &__contacts-email::before {
        width: 18px;
        height: 19px;
        background-image: url(../../img/icons/icon-at.svg);
    }
    &__contacts-address::before {
        width: 12px;
        height: 19px;
        background-image: url(../../img/icons/locate.svg);
    }
}