.vacs {
    &__title {
        margin-bottom: 30px;
    }
    &__tabs {
        display: flex;
        gap: 0 15px;
        margin-bottom: 30px;
    }
    &__tab {
        border: 1px solid $light-grey;
        border-radius: 27px;
        padding: 9px 26px;
        @extend %roboto-400;
        color: #434645;
        font-size: 18px;
        cursor: pointer;
    }
    &__tab--active {
        color: #fff;
        background-color: #434645;
    }
    .vacancies__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        margin-bottom: 250px;
    }
}