<section class="about">
    <div class="container">
        <img src="../img/about-promo.jpg" alt="image">
        <div class="stats__numbs">
            <div class="container-mini">
                <div class="stats__numbs-top">
                    <p class="stats__numbs-text">
                        PITSTOP – региональная сеть магазинов автозапчастей и автосервисов в Московской области. Компания работает с 2001 года и активно развивается, уже став одним из крупнейших ритейлов в городах присутствия.
                    </p>
                    <div class="stats__numbs-red">
                        <div class="stats__numbs-red-num">20+</div>
                        <div class="stats__numbs-red-text">Лет компании</div>
                    </div>
                </div>
                <div class="stats__numbs-bottom">
                    <div class="stats__numbs-item">
                        <div class="stats__numbs-num">134</div>
                        <div class="stats__numbs-num__text">Сотрудников</div>
                    </div>
                    <div class="stats__numbs-item">
                        <div class="stats__numbs-num">3</div>
                        <div class="stats__numbs-num__text">города</div>
                    </div>
                    <div class="stats__numbs-item">
                        <div class="stats__numbs-num">2</div>
                        <div class="stats__numbs-num__text">сервиса</div>
                    </div>
                    <div class="stats__numbs-item">
                        <div class="stats__numbs-num">10000+</div>
                        <div class="stats__numbs-num__text">постоянных клиентов</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about__slider">
            <div class="about__slide">
                <img src="../img/about/1.jpg" alt="image">
            </div>
            <div class="about__slide">
                <img src="../img/about/1.jpg" alt="image">
            </div>
            <div class="about__slide">
                <img src="../img/about/1.jpg" alt="image">
            </div>
            <div class="about__slide">
                <img src="../img/about/1.jpg" alt="image">
            </div>
        </div>
    </div>
</section>