<section class="bonus">
    <div class="container">
        <div class="bonus__wrapper">
            <div class="container-mini">
                <div class="bonus__inner">
                    <div class="bonus__info">
                        <h2 class="bonus__title">
                            Бонусная программа <i>PITSTOP</i> 
                        </h2>
                        <p class="bonus__text">
                            Специальные цены, скидки на услуги, товары за бонусы при регистрации на нашем сайте
                        </p>
                        <div class="bonus__btns">
                            <a href="#" class="bonus__btn-red">зарегистрироваться</a>
                            <a href="#" class="bonus__btn-black">подробнее о программе</a>
                        </div>
                    </div>
                    <img src="../img/bonus.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>