<section class="bonus">
    <div class="container">
        <div class="bonus__inner">
            <div class="bonus__info">
                <h2 class="bonus__title"></h2>
                <p class="bonus__text"></p>
                <div class="bonus__btns">
                    <a href="#" class="bonus__btn-red"></a>
                    <a href="#" class="bonus__btn-black"></a>
                </div>
            </div>
            <img src="../img/bonus.png" alt="image">
        </div>
    </div>
</section>