<section class="fast-entry">
    <div class="container">
        <div class="fast-entry__inner">
            <div class="fast-entry__info">
                <h4 class="fast-entry__title title">
                    Быстрая запись на СТО
                </h4>
                <form action="#" class="fast-entry__form">
                    <p class="fast-entry__station">
                        Выберите станцию обслуживания
                    </p>
                    <select name="station" id="station" class="fast-entry__select"></select>
                    <p class="fast-entry__time">
                        Укажите дату и время
                    </p>
                    <label class="fast-entry__time-label">
                        <input class="fast-entry__time-date" type="date" name="input-date">
                        <input class="fast-entry__time-time" type="time" name="input-time">
                    </label>
                    <button class="fast-entry__time-btn" type="submit"></button>
                </form> 
            </div>
            <div class="fast-entry__map"></div>
        </div>
    </div>
</section>