<section class="entry">
    <div class="container">
        <div class="entry__wrapper">
            <div class="entry__info">
                <h1 class="entry__title">Быстрая запись <br> на СТО</h1>
                <div class="entry__info-btns">
                    <a href="#" class="entry__link-red entry__link">Записаться</a>
                    <a href="#" class="entry__link-white entry__link">перезвоните мне</a>
                </div>
            </div>
            <div class="entry__buttons">
                <a href="#" class="entry__btn entry__btn--white">
                    <img src="../img/icons/arrow-top.svg" alt="icon">
                </a>
                <a href="#" class="entry__btn entry__btn--red">
                    <img src="../img/icons/message.svg" alt="icon">
                </a>
            </div>
        </div>
    </div>
</section>