<section class="fast-entry">
    <div class="container">
        <div class="fast-entry__inner">
            <div class="fast-entry__info">
                <h4 class="fast-entry__title title">
                    Быстрая запись на СТО
                </h4>
                <form action="#" class="fast-entry__form">
                    <p class="fast-entry__station">
                        Выберите станцию обслуживания
                    </p>
                    <select name="station" id="station" class="fast-entry__select" placeholder="Адрес из списка"></select>
                    <p class="fast-entry__time">
                        Укажите дату и время
                    </p>
                    <label class="fast-entry__time-label">
                        <input class="fast-entry__time-date" type="date" name="input-date">
                        <input class="fast-entry__time-time" type="time" name="input-time">
                    </label>
                    <button class="fast-entry__time-btn" type="submit">Отправить</button>
                </form> 
            </div>
            <div class="fast-entry__map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2266.56448218002!2d36.73274113488771!3d55.38305629999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46cab0ad8b53b59f%3A0xfe542c94d3601737!2z0J_QmNCi0KHQotCe0J8!5e0!3m2!1sru!2sru!4v1675258683048!5m2!1sru!2sru" width="650" height="510" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>