<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__columns">
        <div class="footer__column">
          <p class="footer__column-name">Услуги</p>
          <ul class="footer__column-list">
            <li class="footer__column-item">
              <a href="#">Диагностика</a>
            </li>
            <li class="footer__column-item">
              <a href="#">Двигатель</a>
            </li>
            <li class="footer__column-item">
              <a href="#">Ходовая часть</a>
            </li>
            <li class="footer__column-item">
              <a href="#">Жидкости и фильтры</a>
            </li>
            <li class="footer__column-item">
              <a href="#">Технический осмотр</a>
            </li>
            <li class="footer__column-item">
              <a href="#">Шиномонтаж</a>
            </li>
            <li class="footer__column-item">
              <a href="#">Автомойка</a>
            </li>
          </ul>
        </div>
        <div class="footer__column">
          <p class="footer__column-name">Для клиента</p>
          <ul class="footer__column-list">
            <li class="footer__column-item">
              <a href="#">Сезонные предложения</a>
            </li>
            <li class="footer__column-item">
              <a href="#">Акции</a>
            </li>
            <li class="footer__column-item">
              <a href="#">Бонусная программа</a>
            </li>
            <li class="footer__column-item">
              <a href="#">Гарантии</a>
            </li>
            <li class="footer__column-item">
              <a href="#">Магазин</a>
            </li>
          </ul>
        </div>
        <div class="footer__column">
          <p class="footer__column-name">Для бизнеса</p>
          <ul class="footer__column-list">
            <li class="footer__column-item">
              <a href="#">Юридическим лицам</a>
            </li>
            <li class="footer__column-item">
              <a href="#">Техническое обслуживание <br> автопарков</a>
            </li>
            <li class="footer__column-item">
              <a href="#">Обслуживание автомобилей <br> сотрудников</a>
            </li>
            <li class="footer__column-item">
              <a href="#">Реклама на станциях</a>
            </li>
          </ul>
        </div>
        <div class="footer__column">
          <p class="footer__column-name">Компания</p>
          <ul class="footer__column-list">
            <li class="footer__column-item">
              <a href="#">О компании</a>
            </li>
            <li class="footer__column-item">
              <a href="#">Вакансии</a>
            </li>
            <li class="footer__column-item">
              <a href="#">Контакты</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__socials">
        <p class="footer__socials-title footer__column-name">Мы в соцсетях</p>
        <ul class="footer__socials-list">
          <li class="footer__socials-item">
            <a href="" class="footer__socials-link">
              <img src="../img/socials/1.svg" alt="icon">
            </a>
          </li>
          <li class="footer__socials-item">
            <a href="" class="footer__socials-link">
              <img src="../img/socials/2.svg" alt="icon">
            </a>
          </li>
          <li class="footer__socials-item">
            <a href="" class="footer__socials-link">
              <img src="../img/socials/3.svg" alt="icon">
            </a>
          </li>
          <li class="footer__socials-item">
            <a href="" class="footer__socials-link">
              <img src="../img/socials/4.svg" alt="icon">
            </a>
          </li>
        </ul>
        <p class="footer__payment-text">
          В наших автосервисах возможна <br> оплата по картам
        </p>
        <ul class="footer__payment-list">
          <li class="footer__payment-item">
            <img src="../img/icons/mastercard.svg" alt="icon">
          </li>
          <li class="footer__payment-item">
            <img src="../img/icons/visa.svg" alt="icon">
          </li>
          <li class="footer__payment-item">
            <img src="../img/icons/mir.svg" alt="icon">
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__copy">
      <div class="footer__copy-empty">
      </div>
      <a href="#" class="footer__copy-link">
        Политика обработки персональных данных
      </a>
      <p class="footer__copy-date">2001—2022 © ООО «Питстоп»</p>
    </div>
  </div>
</footer>