<header class="header">
  <div class="container">
    <div class="header__top">
      <div class="header__city">Наро-Фоминск</div>
      <div class="header__top-info">
        <a href="#" class="header-info__item">Бонусная программа</a>
        <a href="#" class="header-info__item">Магазин</a>
        <a href="#" class="header-info__item">Юр. лицам</a>
        <a href="#" class="header-info__item">Гарантии</a>
        <a href="#" class="header-info__item">Контакты</a>
      </div>
    </div>
    <div class="header__info">
      <a href="#" class="header__logo">
        <img src="../img/logo.svg" alt="logo">
      </a>
      <a href="#" class="header__services">Услуги</a>
      <label class="header__search-label">
        <input type="text" class="header__search" placeholder="Найти услугу">
        <img class="header__search-icon" src="../img/icons/search.svg" alt="icon">
      </label>
      <div class="header__favs">
        <div class="header__favs-item">
          <img src="../img/icons/person.svg" alt="icon">
          <p class="header__person-text">Войти</p>
        </div>
        <div class="header__favs-item">
          <img src="../img/icons/like.svg" alt="icon">
          <p class="header__person-text">Избранное</p>
        </div>
        <div class="header__favs-item">
          <img src="../img/icons/busket.svg" alt="icon">
          <p class="header__person-text">Корзина</p>
        </div>
      </div>
      <div class="header__info-btn">
        <img src="../img/icons/header-btn.svg" alt="icon">
      </div>
    </div>
    <div class="header__bottom">
      <ul class="header__list">
        <li class="header__item">
          <a href="#" class="header__item-link">
            Диагностика авто
          </a>
        </li>
        <li class="header__item">
          <a href="#" class="header__item-link">
            Двигатель
          </a>
        </li>
        <li class="header__item">
          <a href="#" class="header__item-link">
            Ходовая часть
          </a>
        </li>
        <li class="header__item">
          <a href="#" class="header__item-link">
            Жидкости и фильтры
          </a>
        </li>
        <li class="header__item">
          <a href="#" class="header__item-link">
            Технический осмотр
          </a>
        </li>
        <li class="header__item">
          <a href="#" class="header__item-link">
            Шиномонтаж
          </a>
        </li>
        <li class="header__item">
          <a href="#" class="header__item-link">
            Автомойка
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
<div class="header__mobile-wrapper">
  <div class="container">
    <div class="header__mobile">
      <div class="header__mobile-top">
        <a href="#" class="header__mobile-top__link">
          записаться на сто
        </a>
        <div class="header__mobile-top__close">
          <img src="../img/icons/close.svg" alt="icon">
        </div>
      </div>
  
      <div class="header__mobile-accordions">
        <div class="header__mobile-accordion header__mobile-accordion--1">
          <p class="header__mobile-accordion__text">Услуги</p>
          <div class="header__mobile-accordion__image"></div>
        </div>
        <div class="header__mobile-accordion__content">
          <ul class="header__mob-acc__list">
            <li class="header__mob-acc__item">
              <a href="#" class="header__mob-acc__link">
                Диагностика авто
              </a>
            </li>
            <li class="header__mob-acc__item">
              <a href="#" class="header__mob-acc__link">
                Двигатель
              </a>
            </li>
            <li class="header__mob-acc__item">
              <a href="#" class="header__mob-acc__link">
                Ходовая часть
              </a>
            </li>
            <li class="header__mob-acc__item">
              <a href="#" class="header__mob-acc__link">
                Жидкости и фильтры
              </a>
            </li>
            <li class="header__mob-acc__item">
              <a href="#" class="header__mob-acc__link">
                Технический осмотр
              </a>
            </li>
            <li class="header__mob-acc__item">
              <a href="#" class="header__mob-acc__link">
                Шиномонтаж
              </a>
            </li>
          </ul>
        </div>

        <div class="header__mobile-accordion header__mobile-accordion--2">
          <p class="header__mobile-accordion__text">Для клиента</p>
          <div class="header__mobile-accordion__image"></div>
        </div>
        <div class="header__mobile-accordion__content">
          <ul class="header__mob-acc__list">
            <li class="header__mob-acc__item">
              <a href="#" class="header__mob-acc__link">
                Сезонное предложение
              </a>
            </li>
            <li class="header__mob-acc__item">
              <a href="#" class="header__mob-acc__link">
                Акции
              </a>
            </li>
            <li class="header__mob-acc__item">
              <a href="#" class="header__mob-acc__link">
                Бонусная программа
              </a>
            </li>
            <li class="header__mob-acc__item">
              <a href="#" class="header__mob-acc__link">
                Гарантии
              </a>
            </li>
            <li class="header__mob-acc__item">
              <a href="#" class="header__mob-acc__link">
                Магазин
              </a>
            </li>
          </ul>
        </div>

        <div class="header__mobile-accordion header__mobile-accordion--3">
          <p class="header__mobile-accordion__text">Для бизнеса</p>
          <div class="header__mobile-accordion__image"></div>
        </div>
        <div class="header__mobile-accordion__content">
          <ul class="header__mob-acc__list">
            <li class="header__mob-acc__item">
              <a href="#" class="header__mob-acc__link">
                Юридическим лицам
              </a>
            </li>
            <li class="header__mob-acc__item">
              <a href="#" class="header__mob-acc__link">
                Техническое обслуживание автопарков
              </a>
            </li>
            <li class="header__mob-acc__item">
              <a href="#" class="header__mob-acc__link">
                Обслуживание автомобилей сотрудников
              </a>
            </li>
            <li class="header__mob-acc__item">
              <a href="#" class="header__mob-acc__link">
                Реклама на станциях
              </a>
            </li>
          </ul>
        </div>

        <div class="header__mobile-accordion header__mobile-accordion--4">
          <p class="header__mobile-accordion__text">Компания</p>
          <div class="header__mobile-accordion__image"></div>
        </div>
        <div class="header__mobile-accordion__content">
          <ul class="header__mob-acc__list">
            <li class="header__mob-acc__item">
              <a href="#" class="header__mob-acc__link">
                О компании
              </a>
            </li>
            <li class="header__mob-acc__item">
              <a href="#" class="header__mob-acc__link">
                Вакансии
              </a>
            </li>
            <li class="header__mob-acc__item">
              <a href="#" class="header__mob-acc__link">
                Контакты
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="header__mobile-bottom">
        <ul class="footer__socials-list header-mob__socials-list" style="margin-bottom: 15px !important;">
          <li class="footer__socials-item">
            <a href="" class="footer__socials-link">
              <img src="../img/socials/1.svg" alt="icon">
            </a>
          </li>
          <li class="footer__socials-item">
            <a href="" class="footer__socials-link">
              <img src="../img/socials/2.svg" alt="icon">
            </a>
          </li>
          <li class="footer__socials-item">
            <a href="" class="footer__socials-link">
              <img src="../img/socials/3.svg" alt="icon">
            </a>
          </li>
          <li class="footer__socials-item">
            <a href="" class="footer__socials-link">
              <img src="../img/socials/4.svg" alt="icon">
            </a>
          </li>
        </ul>
        <p class="header__mob-copy">
          2001—2022 © ООО «Питстоп»
        </p>
      </div>
  
    </div>
  </div>
</div>
