<header class="header">
  <div class="container">
    <div class="header__top">
      <div class="header__city">Наро-Фоминск</div>
      <div class="header__top-info">
        <a href="#" class="header-info__item">Бонусная программа</a>
        <a href="#" class="header-info__item">Магазин</a>
        <a href="#" class="header-info__item">Юр. лицам</a>
        <a href="#" class="header-info__item">Контакты</a>
      </div>
    </div>
    <div class="header__info">
      <div class="header__info-btn">
        <img src="../img/icons/header-btn.svg" alt="icon">
      </div>
      <a href="#" class="header__logo">
        <img src="../img/logo.svg" alt="logo">
      </a>
      <a href="#" class="header__services">Услуги</a>
      <div class="header__search">Найти услугу</div>
      <div class="header__favs">
        <div class="header__person">
          <img src="../img/icons/person.svg" alt="icon">
        </div>
        <div class="header__like">
          <img src="../img/icons/like.svg" alt="icon">
        </div>
        <div class="header__busket">
          <img src="../img/icons/busket.svg" alt="icon">
        </div>
      </div>
    </div>
    <div class="header__bottom">
      <ul class="header__list">
        <li class="header__item">
          <a href="#" class="header__item-link">
            Диагностика авто
          </a>
        </li>
        <li class="header__item">
          <a href="#" class="header__item-link">
            Двигатель
          </a>
        </li>
        <li class="header__item">
          <a href="#" class="header__item-link">
            Ходовая часть
          </a>
        </li>
        <li class="header__item">
          <a href="#" class="header__item-link">
            Жидкости и фильтры
          </a>
        </li>
        <li class="header__item">
          <a href="#" class="header__item-link">
            Технический осмотр
          </a>
        </li>
        <li class="header__item">
          <a href="#" class="header__item-link">
            Шиномонтаж
          </a>
        </li>
        <li class="header__item">
          <a href="#" class="header__item-link">
            Автомойка
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
