<section class="hots">
    <div class="container">
        <div class="hots__top">
            <h2 class="hots__title title">Акции</h2>
            <a href="#" class="hots__link link">Все акции</a>
        </div>
        <div class="hots__slider">
            <a href="#" class="hots__item hots__item--1">
                <p class="hots__item-title">
                    30% скидка 
                    на шиномонтаж
                </p>
                <p class="hots__item-subtitle">
                    При покупке шин в нашем магазине
                </p>
            </a>
            <a href="#" class="hots__item hots__item--2">
                <p class="hots__item-title">
                    Бесплатная замена жидкостей
                </p>
                <p class="hots__item-subtitle">
                    Любых жидкостей, приобретённых в нашем магазине
                </p>
            </a>
            <a href="#" class="hots__item hots__item--3">
                <p class="hots__item-title">
                    Бесплатная замена свечей
                </p>
                <p class="hots__item-subtitle">
                    При покупке  в нашем магазине
                </p>
            </a>
            <a href="#" class="hots__item hots__item--1">
                <p class="hots__item-title">
                    30% скидка 
                    на шиномонтаж
                </p>
                <p class="hots__item-subtitle">
                    При покупке шин в нашем магазине
                </p>
            </a>
        </div>
    </div>
</section>