<section class="insta-block">
    <div class="insta-block__item insta-block__item--1">
        <img src="../img/insta/inst-icon.png" alt="icon">
        <div class="insta-block__item-info">
            <h5 class="insta-block__item-title">
                instagram
            </h5>
            <a href="#" class="insta-block__item-link">
                Перейти
            </a>
        </div>
    </div>
    <div class="insta-block__item">
        <img class="insta-block__image" src="../img/insta/1.jpg" alt="image">
    </div>
    <div class="insta-block__item">
        <img class="insta-block__image" src="../img/insta/2.jpg" alt="image">
    </div>
    <div class="insta-block__item">
        <img class="insta-block__image" src="../img/insta/3.jpg" alt="image">
    </div>
    <div class="insta-block__item">
        <img class="insta-block__image" src="../img/insta/4.jpg" alt="image">
    </div>
    <div class="insta-block__item">
        <img class="insta-block__image" src="../img/insta/5.jpg" alt="image">
    </div>
    <div class="insta-block__item">
        <img class="insta-block__image" src="../img/insta/6.jpg" alt="image">
    </div>
</section>