<section class="our-team">
    <div class="container">
        <div class="our-team__boss">
            <img src="../img/boss.png" alt="image">
            <div class="our-team__boss-content">
                <h4 class="our-team__boss-title">Александр Иванов</h4>
                <h5 class="our-team__boss-subtitle">Основатель PITSTOP</h5>
                <p class="our-team__boss-text">
                    Особая наша гордость – это наша команда, основной костяк которой трудится с нами уже более 10 лет. Но мы постоянно растем и развиваемся, и нам нужны новые люди, готовые разделять наши ценности: любовь к автомобилям и всему, что с ними связано, ориентация на интересы клиентов и забота о них, стремление к постоянному росту и развитию.
                </p>
                <a href="#" class="our-team__boss-link link">
                    Перейти
                </a>
            </div>
        </div>
        <div class="our-team__inner">
            <h2 class="our-team__title title">
                Наша <br> команда
            </h2>
            <p class="our-team__text">
                Особая наша гордость – это наша команда, основной костяк которой трудится с нами уже более 10 лет. Но мы постоянно растем и развиваемся, и нам нужны новые люди, готовые разделять наши ценности: любовь к автомобилям и всему, что с ними связано, ориентация на интересы клиентов и забота о них, стремление к постоянному росту и развитию.
            </p>
        </div>
        <div class="tabs">
            <div class="tab">Все</div>
            <div class="tab">Наро-Фоминск</div>
            <div class="tab">Краснознаменск</div>
        </div>
        <div class="tabs__cont">
            <div class="tabs__cont-item tabs__cont-item--krasn">
                <img src="../img/our-team/1.jpg" alt="image">
                <div class="tabs__cont-locate">
                    Краснознаменск
                </div>
                <div class="tabs__cont-name">
                    Александр Иванов 
                </div>
                <div class="tabs__cont-profession">
                    Сотрудник склада
                </div>
            </div>
            <div class="tabs__cont-item tabs__cont-item--naro">
                <img src="../img/our-team/2.jpg" alt="image">
                <div class="tabs__cont-locate">
                    Наро - Фоминск
                </div>
                <div class="tabs__cont-name">
                    Александр Иванов 
                </div>
                <div class="tabs__cont-profession">
                    Сотрудник склада
                </div>
            </div>
            <div class="tabs__cont-item tabs__cont-item--krasn">
                <img src="../img/our-team/3.jpg" alt="image">
                <div class="tabs__cont-locate">
                    Краснознаменск
                </div>
                <div class="tabs__cont-name">
                    Александр Иванов 
                </div>
                <div class="tabs__cont-profession">
                    Сотрудник склада
                </div>
            </div>
            <div class="tabs__cont-item tabs__cont-item--krasn">
                <img src="../img/our-team/4.jpg" alt="image">
                <div class="tabs__cont-locate">
                    Краснознаменск
                </div>
                <div class="tabs__cont-name">
                    Александр Иванов 
                </div>
                <div class="tabs__cont-profession">
                    Сотрудник склада
                </div>
            </div>
            <div class="tabs__cont-item tabs__cont-item--krasn">
                <img src="../img/our-team/2.jpg" alt="image">
                <div class="tabs__cont-locate">
                    Краснознаменск
                </div>
                <div class="tabs__cont-name">
                    Александр Иванов 
                </div>
                <div class="tabs__cont-profession">
                    Сотрудник склада
                </div>
            </div>
            <div class="tabs__cont-item tabs__cont-item--naro">
                <img src="../img/our-team/1.jpg" alt="image">
                <div class="tabs__cont-locate">
                    Наро - Фоминск
                </div>
                <div class="tabs__cont-name">
                    Александр Иванов 
                </div>
                <div class="tabs__cont-profession">
                    Сотрудник склада
                </div>
            </div>
        </div>
        <div class="tabs__cont">
            <div class="tabs__cont-item tabs__cont-item--naro">
                <img src="../img/our-team/2.jpg" alt="image">
                <div class="tabs__cont-locate">
                    Наро - Фоминск
                </div>
                <div class="tabs__cont-name">
                    Александр Иванов 
                </div>
                <div class="tabs__cont-profession">
                    Сотрудник склада
                </div>
            </div>
            <div class="tabs__cont-item tabs__cont-item--naro">
                <img src="../img/our-team/1.jpg" alt="image">
                <div class="tabs__cont-locate">
                    Наро - Фоминск
                </div>
                <div class="tabs__cont-name">
                    Александр Иванов 
                </div>
                <div class="tabs__cont-profession">
                    Сотрудник склада
                </div>
            </div>
        </div>
        <div class="tabs__cont">
            <div class="tabs__cont-item tabs__cont-item--krasn">
                <img src="../img/our-team/1.jpg" alt="image">
                <div class="tabs__cont-locate">
                    Краснознаменск
                </div>
                <div class="tabs__cont-name">
                    Александр Иванов 
                </div>
                <div class="tabs__cont-profession">
                    Сотрудник склада
                </div>
            </div>
            <div class="tabs__cont-item tabs__cont-item--krasn">
                <img src="../img/our-team/3.jpg" alt="image">
                <div class="tabs__cont-locate">
                    Краснознаменск
                </div>
                <div class="tabs__cont-name">
                    Александр Иванов 
                </div>
                <div class="tabs__cont-profession">
                    Сотрудник склада
                </div>
            </div>
            <div class="tabs__cont-item tabs__cont-item--krasn">
                <img src="../img/our-team/4.jpg" alt="image">
                <div class="tabs__cont-locate">
                    Краснознаменск
                </div>
                <div class="tabs__cont-name">
                    Александр Иванов 
                </div>
                <div class="tabs__cont-profession">
                    Сотрудник склада
                </div>
            </div>
            <div class="tabs__cont-item tabs__cont-item--krasn">
                <img src="../img/our-team/2.jpg" alt="image">
                <div class="tabs__cont-locate">
                    Краснознаменск
                </div>
                <div class="tabs__cont-name">
                    Александр Иванов 
                </div>
                <div class="tabs__cont-profession">
                    Сотрудник склада
                </div>
            </div>
        </div>
    </div>
</section>