<section class="our-values">
    <div class="container">
        <div class="our-values__inner">
            <h2 class="our-values__title title">
                Наши <br> ценности 
            </h2>
            <div class="our-values__grid-inner">
                <div class="our-values__grid-item our-values__grid-item--1">
                    <h4 class="our-values__grid-title">
                        Качество работы
                    </h4>
                    <p class="our-values__grid-text">
                        Работа выполняется качественно, так как мы уверены в своих специалистах
                    </p>
                </div>
                <div class="our-values__grid-item our-values__grid-item--2">
                    <h4 class="our-values__grid-title">
                        Гарантия
                    </h4>
                    <p class="our-values__grid-text">
                        Мы обеспечиваем гарантию на 1 год для наших клиентов
                    </p>
                </div>
                <div class="our-values__grid-item our-values__grid-item--3">
                    <h4 class="our-values__grid-title">
                        Доступно для каждого
                    </h4>
                    <p class="our-values__grid-text">
                        Мы обслуживаем абсолютно разных клиентов
                    </p>
                </div>
                <div class="our-values__grid-item our-values__grid-item--4">
                    <h4 class="our-values__grid-title">
                        Довольные клиенты
                    </h4>
                    <p class="our-values__grid-text">
                        Мы стремимся, чтобы каждый клиент остался доволен
                    </p>
                </div>
                <div class="our-values__grid-item our-values__grid-item--5">
                    <h4 class="our-values__grid-title">
                        Скорость
                    </h4>
                    <p class="our-values__grid-text">
                        У нас работают профессионалы, по этому работа выполняется быстро
                    </p>
                </div>
                <div class="our-values__grid-item our-values__grid-item--6">
                    <h4 class="our-values__grid-title">
                        Цена - качество
                    </h4>
                    <p class="our-values__grid-text">
                        У нас лучшее соотношение цен и качества обслуживания
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>