<section class="promo">
    <div class="container-mini">
        <a href="#" class="promo__logo">
            <img src="../img/promo-logo.svg" alt="logo">
        </a>
        <div class="promo__inner">
            <div class="promo__info">
                <h3 class="promo__title">Покупайте запчасти в нашем магазине!</h3>
                <p class="promo__text">Копите бонусы и выбирайте товар или услуги</p>
                <div class="promo__links">
                    <a href="#" class="promo__shop">в магазин</a>
                    <a href="#" class="promo__bonus">Бонусная программа</a>
                </div>
            </div>
            <div class="promo__fast">
                <h4 class="promo__fast-title">Быстрый заказ</h4>
                <p class="promo__fast-text">без регистрации и предоплаты</p>
                <ul class="promo__socials">
                    <li class="promo__social promo__social--whatsaap">
                        <a href="#" class="promo__social-link">WhatsApp</a>
                    </li>
                    <li class="promo__social promo__social--telegram">
                        <a href="#" class="promo__social-link">Telegram</a>
                    </li>
                    <li class="promo__social promo__social--viber">
                        <a href="#" class="promo__social-link">Viber</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>