<a href="#" class="promo__logo">
    <img src="../img/promo-logo.svg" alt="logo">
</a>
<div class="promo__inner">
    <div class="promo__info">
        <h3 class="promo__title"></h3>
        <p class="promo__text"></p>
        <div class="promo__links">
            <a href="#" class="promo__shop"></a>
            <a href="#" class="promo__bonus"></a>
        </div>
    </div>
    <div class="promo__fast">
        <h4 class="promo__fast-title"></h4>
        <p class="promo__fast-text"></p>
        <ul class="promo__socials">
            <li class="promo__social promo__social--whatsaap">
                <a href="#" class="promo__social-link"></a>
            </li>
            <li class="promo__social promo__social--telegram">
                <a href="#" class="promo__social-link"></a>
            </li>
            <li class="promo__social promo__social--viber">
                <a href="#" class="promo__social-link"></a>
            </li>
        </ul>
    </div>
</div>