<section class="questions">
    <div class="container">
        <div class="questions__wrapper">
            <div class="container-mini">
                <div class="questions__inner">
                    <div class="questions__info">
                        <h2 class="questions__title title">Остались вопросы?</h2>
                        <p class="questions__text">Оставьете свой номер телефона и мы с вами свяжемся в ближайшее время</p>
                        <a href="#" class="questions__link">large</a>
                    </div>
                    <div class="questions__other">
                        <form class="questions__form">
                            <input class="questions__input" type="phone" placeholder="Укажите ваш телефон">
                            <button class="questions__button" type="submit">Жду звонка</button>
                        </form>
                        <div class="questions__copy">
                            Нажимая кнопку "Жду звонка" вы принимаете <a class="questions__copy-link" href="#">политику конфиденциальности</a> <br> ООО "Питстоп"
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>