<div class="season__inner">
    <div class="season__info">
        <h2 class="season__title title">Сезонное предложение</h2>
        <a href="#" class="season__link">смотреть все</a>
    </div>
    <div class="season__slider">
        <div class="season__item">
            <div class="season__date">До 28 февраля 2022</div>
            <h3 class="season__item-title">Бесплатная диагностика ходовой части</h3>
            <p class="season__item-text">Зимовать уверенно!</p>
            <a href="#" class="season__item-link">medium</a>
        </div>
    </div>
</div>