<section class="services-g">
    <div class="container">
        <div class="services-g__top">
            <h2 class="services-g__title title">Услуги</h2>
            <label class="header__search-label">
                <input type="text" class="header__search" placeholder="Найти услугу">
                <img class="header__search-icon" src="../img/icons/search.svg" alt="icon">
            </label>
        </div>
        <div class="services-g__inner">
            <div class="services-g__item services-g__item--1">
                <h4 class="services-g__item-title">Сезонные услуги</h4>
                <p class="services-g__item-text">4 услуги</p>
            </div>
            <div class="services-g__item services-g__item--2">
                <h4 class="services-g__item-title">Сезонные услуги</h4>
                <a href="#" class="services-g__item-btn">link</a>
            </div>
            <div class="services-g__item">
                <h4 class="services-g__item-title">Сезонные услуги</h4>
                <p class="services-g__item-text">4 услуги</p>
            </div>
            <div class="services-g__item">
                <h4 class="services-g__item-title">Сезонные услуги</h4>
                <p class="services-g__item-text">4 услуги</p>
            </div>
            <div class="services-g__item services-g__item--5">
                <h4 class="services-g__item-title">Сезонные услуги</h4>
                <p class="services-g__item-text">4 услуги</p>
            </div>
            <div class="services-g__item">
                <h4 class="services-g__item-title">Сезонные услуги</h4>
                <p class="services-g__item-text">4 услуги</p>
            </div>
            <div class="services-g__item services-g__item--5">
                <h4 class="services-g__item-title">Сезонные услуги</h4>
                <p class="services-g__item-text">4 услуги</p>
            </div>
            <div class="services-g__item">
                <h4 class="services-g__item-title">Сезонные услуги</h4>
                <p class="services-g__item-text">4 услуги</p>
            </div>
        </div>
    </div>
</section>