<section class="stats">
    <div class="stats__info">
        <div class="container-mini">
            <h2 class="stats__title">
                <i>PITSTOP</i> <br>
                это качество и скорость
            </h2>
            <p class="stats__text">
                PITSTOP – региональная сеть магазинов автозапчастей и автосервисов в Московской области. Компания работает с 2001 года и активно развивается, уже став одним из крупнейших ритейлов в городах присутствия.
            </p>
            <a href="#" class="stats__link">о компании</a>
        </div>
    </div>
    <div class="stats__slider">
        <div class="stats__item">
            <img src="../img/stats/1.jpg" alt="image">
        </div>
        <div class="stats__item">
            <img src="../img/stats/2.jpg" alt="image">
        </div>
        <div class="stats__item">
            <img src="../img/stats/3.jpg" alt="image">
        </div>
        <div class="stats__item">
            <img src="../img/stats/3.jpg" alt="image">
        </div>
    </div>
    <div class="stats__numbs">
        <div class="container-mini">
            <div class="stats__numbs-top">
                <div class="stats__numbs-red">
                    <div class="stats__numbs-red-num">20+</div>
                    <div class="stats__numbs-red-text">Лет компании</div>
                </div>
                <p class="stats__numbs-text">
                    PITSTOP – региональная сеть магазинов автозапчастей и автосервисов в Московской области. Компания работает с 2001 года и активно развивается, уже став одним из крупнейших ритейлов в городах присутствия.
                </p>
            </div>
            <div class="stats__numbs-bottom">
                <div class="stats__numbs-item">
                    <div class="stats__numbs-num">134</div>
                    <div class="stats__numbs-num__text">Сотрудников</div>
                </div>
                <div class="stats__numbs-item">
                    <div class="stats__numbs-num">3</div>
                    <div class="stats__numbs-num__text">города</div>
                </div>
                <div class="stats__numbs-item">
                    <div class="stats__numbs-num">2</div>
                    <div class="stats__numbs-num__text">сервиса</div>
                </div>
                <div class="stats__numbs-item">
                    <div class="stats__numbs-num">10000+</div>
                    <div class="stats__numbs-num__text">постоянных клиентов</div>
                </div>
            </div>
        </div>
    </div>
</section>