<div class="vacs">
    <div class="container">
        <h2 class="vacs__title title">Вакансии</h2>
        <div class="vacs__tabs tabs">
            <div class="vacs__tab tab vacs__tab--active tab--active">Автосервис</div>
            <div class="vacs__tab tab">Магазин</div>
            <div class="vacs__tab tab">Офис</div>
        </div>
        <div class="vacs__tabs-content">
            <div class="vacs__tab-cont">
                <div class="vacancies__inner">
                    <div class="vacancies__item vacancies__item--1">
                        <p class="vacancies__name">Автомеханик</p>
                        <p class="vacancies__back">Опыт работы: от 1 года</p>
                        <p class="vacancies__salary">От 110 000 ₽</p>
                        <a href="#" class="vacancies__link">medium</a>
                    </div>
                    <div class="vacancies__item vacancies__item--2">
                        <p class="vacancies__name">Мастер-приемщик</p>
                        <p class="vacancies__back">Опыт работы: от 5 лет</p>
                        <p class="vacancies__salary">От 90 000 ₽</p>
                        <a href="#" class="vacancies__link">medium</a>
                    </div>
                    <div class="vacancies__item vacancies__item--3">
                        <p class="vacancies__name">Сотрудник склада</p>
                        <p class="vacancies__back">Опыт работы: от 1 года</p>
                        <p class="vacancies__salary">От 80 000 ₽</p>
                        <a href="#" class="vacancies__link">medium</a>
                    </div>
                    <div class="vacancies__item vacancies__item--1">
                        <p class="vacancies__name">Автомеханик</p>
                        <p class="vacancies__back">Опыт работы: от 1 года</p>
                        <p class="vacancies__salary">От 110 000 ₽</p>
                        <a href="#" class="vacancies__link">medium</a>
                    </div>
                    <div class="vacancies__item vacancies__item--2">
                        <p class="vacancies__name">Мастер-приемщик</p>
                        <p class="vacancies__back">Опыт работы: от 5 лет</p>
                        <p class="vacancies__salary">От 90 000 ₽</p>
                        <a href="#" class="vacancies__link">medium</a>
                    </div>
                    <div class="vacancies__item vacancies__item--3">
                        <p class="vacancies__name">Сотрудник склада</p>
                        <p class="vacancies__back">Опыт работы: от 1 года</p>
                        <p class="vacancies__salary">От 80 000 ₽</p>
                        <a href="#" class="vacancies__link">medium</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="vacs__tabs-content">
            <div class="vacs__tab-cont">
                <div class="vacancies__inner">
                    <div class="vacancies__item vacancies__item--1">
                        <p class="vacancies__name">Автомеханик</p>
                        <p class="vacancies__back">Опыт работы: от 1 года</p>
                        <p class="vacancies__salary">От 110 000 ₽</p>
                        <a href="#" class="vacancies__link">medium</a>
                    </div>
                    <div class="vacancies__item vacancies__item--2">
                        <p class="vacancies__name">Мастер-приемщик</p>
                        <p class="vacancies__back">Опыт работы: от 5 лет</p>
                        <p class="vacancies__salary">От 90 000 ₽</p>
                        <a href="#" class="vacancies__link">medium</a>
                    </div>
                    <div class="vacancies__item vacancies__item--3">
                        <p class="vacancies__name">Сотрудник склада</p>
                        <p class="vacancies__back">Опыт работы: от 1 года</p>
                        <p class="vacancies__salary">От 80 000 ₽</p>
                        <a href="#" class="vacancies__link">medium</a>
                    </div>
                    <div class="vacancies__item vacancies__item--1">
                        <p class="vacancies__name">Автомеханик</p>
                        <p class="vacancies__back">Опыт работы: от 1 года</p>
                        <p class="vacancies__salary">От 110 000 ₽</p>
                        <a href="#" class="vacancies__link">medium</a>
                    </div>
                    <div class="vacancies__item vacancies__item--2">
                        <p class="vacancies__name">Мастер-приемщик</p>
                        <p class="vacancies__back">Опыт работы: от 5 лет</p>
                        <p class="vacancies__salary">От 90 000 ₽</p>
                        <a href="#" class="vacancies__link">medium</a>
                    </div>
                    <div class="vacancies__item vacancies__item--3">
                        <p class="vacancies__name">Сотрудник склада</p>
                        <p class="vacancies__back">Опыт работы: от 1 года</p>
                        <p class="vacancies__salary">От 80 000 ₽</p>
                        <a href="#" class="vacancies__link">medium</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="vacs__tabs-content">
            <div class="vacs__tab-cont">
                <div class="vacancies__inner">
                    <div class="vacancies__item vacancies__item--1">
                        <p class="vacancies__name">Автомеханик</p>
                        <p class="vacancies__back">Опыт работы: от 1 года</p>
                        <p class="vacancies__salary">От 110 000 ₽</p>
                        <a href="#" class="vacancies__link">medium</a>
                    </div>
                    <div class="vacancies__item vacancies__item--2">
                        <p class="vacancies__name">Мастер-приемщик</p>
                        <p class="vacancies__back">Опыт работы: от 5 лет</p>
                        <p class="vacancies__salary">От 90 000 ₽</p>
                        <a href="#" class="vacancies__link">medium</a>
                    </div>
                    <div class="vacancies__item vacancies__item--3">
                        <p class="vacancies__name">Сотрудник склада</p>
                        <p class="vacancies__back">Опыт работы: от 1 года</p>
                        <p class="vacancies__salary">От 80 000 ₽</p>
                        <a href="#" class="vacancies__link">medium</a>
                    </div>
                    <div class="vacancies__item vacancies__item--1">
                        <p class="vacancies__name">Автомеханик</p>
                        <p class="vacancies__back">Опыт работы: от 1 года</p>
                        <p class="vacancies__salary">От 110 000 ₽</p>
                        <a href="#" class="vacancies__link">medium</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>