<section class="vacancies">
    <div class="container">
        <div class="vacancies__top">
            <h2 class="vacancies__title title">Вакансии</h2>
            <a href="#" class="vacancies__link link">Все вакансии</a>
        </div>
        <div class="vacancies__inner">
            <div class="vacancies__item vacancies__item--1">
                <p class="vacancies__name">Автомеханик</p>
                <p class="vacancies__back">Опыт работы: от 1 года</p>
                <p class="vacancies__salary">От 110 000 ₽</p>
                <a href="#" class="vacancies__link">medium</a>
            </div>
            <div class="vacancies__item vacancies__item--2">
                <p class="vacancies__name">Мастер-приемщик</p>
                <p class="vacancies__back">Опыт работы: от 5 лет</p>
                <p class="vacancies__salary">От 90 000 ₽</p>
                <a href="#" class="vacancies__link">medium</a>
            </div>
            <div class="vacancies__item vacancies__item--3">
                <p class="vacancies__name">Сотрудник склада</p>
                <p class="vacancies__back">Опыт работы: от 1 года</p>
                <p class="vacancies__salary">От 80 000 ₽</p>
                <a href="#" class="vacancies__link">medium</a>
            </div>
        </div>
    </div>
</section>