<section class="vacancy-one">
    <div class="container">
        <h2 class="vacancy-one__title title">
            Автомеханик
        </h2>
        <div class="vacancy-one__inner">
            <div class="vacancy-one__descr">
                <div class="vacancy-one__descr-short">
                    <p>г. Наро-Фоминск</p>
                    <p>Опыт работы: 1-3 года</p>
                    <p>От 110 000 ₽</p>
                </div>
                <div class="vacancy-one__descr-text">
                    <p>
                        Автомеханик – это главный человек в автосервисе. От работы механика, в конечном итоге, зависит удовлетворенность клиента услугами компании.
                    </p>
                    <p>
                        Это важно - иметь прекрасный автотехцентр с самым современным оборудованием, комфортную зону приемки, уютную клиентскую комнату, огромный склад запчастей и конкурентные цены, но главное, зачем клиенты обращаются в автосервис – это, в первую очередь, качественное техническое обслуживание и ремонт автомобиля.
                    </p>
                    <p>
                        Поэтому особое внимание мы уделяем подбору сотрудников и их профессиональному обучению. Мы набираем в команду только механиков с «прямыми руками», которые любят свою работу и умеют делать ее качественно, которые хотят трудиться и честно зарабатывать высокую зарплату за свой труд.
                    </p>
                    <div class="vacancy-one__descr-text__active">
                        <p>
                            Автомеханик – это главный человек в автосервисе. От работы механика, в конечном итоге, зависит удовлетворенность клиента услугами компании.
                        </p>
                        <p>
                            Это важно - иметь прекрасный автотехцентр с самым современным оборудованием, комфортную зону приемки, уютную клиентскую комнату, огромный склад запчастей и конкурентные цены, но главное, зачем клиенты обращаются в автосервис – это, в первую очередь, качественное техническое обслуживание и ремонт автомобиля.
                        </p>
                        <p>
                            Поэтому особое внимание мы уделяем подбору сотрудников и их профессиональному обучению. Мы набираем в команду только механиков с «прямыми руками», которые любят свою работу и умеют делать ее качественно, которые хотят трудиться и честно зарабатывать высокую зарплату за свой труд.
                        </p>
                    </div>
                    <button class="vacancy-one__descr-text__button">
                        Показать больше
                    </button>
                </div>
            </div>
            <div class="vacancy-one__slider">
                <div class="vacancy-one__slide">
                    <img src="../img/vacancy-one/1.jpg" alt="image">
                </div>
                <div class="vacancy-one__slide">
                    <img src="../img/vacancy-one/1.jpg" alt="image">
                </div>
                <div class="vacancy-one__slide">
                    <img src="../img/vacancy-one/1.jpg" alt="image">
                </div>
                <div class="vacancy-one__slide">
                    <img src="../img/vacancy-one/1.jpg" alt="image">
                </div>
            </div>
        </div>
        <div class="vacancy-one__inner">
            <div class="vacancy-one__article">
                <h4 class="vacancy-one__article-title">Что мы предлагаем</h4>
                <ul class="vacancy-one__article-list">
                    <li class="vacancy-one__article-item">
                        <p>
                            Работа в молодой и активной команде профессионалов, корпоративные мероприятия
                        </p>
                    </li>
                    <li class="vacancy-one__article-item">
                        <p>
                            Отличные условия работы: большой теплый цех с хорошим освещением и вентиляцией, новое оборудование и специнструмент, комната отдыха с мини-кухней и душем;
                        </p>
                    </li>
                    <li class="vacancy-one__article-item">
                        <p>
                            Прозрачная система оплаты труда с ежедневными отчетами по выработке;
                        </p>
                    </li>
                    <li class="vacancy-one__article-item">
                        <p>
                            Гарантированно стабильный объем работы;
                        </p>
                    </li>
                    <li class="vacancy-one__article-item">
                        <p>
                            Сменный график работы;
                        </p>
                    </li>
                    <li class="vacancy-one__article-item">
                        <p>
                            Профессиональное обучение, возможность профессионального и карьерного роста;
                        </p>
                    </li>
                </ul>
            </div>
            <div class="vacancy-one__article">
                <h4 class="vacancy-one__article-title">Вам предстоит</h4>
                <ul class="vacancy-one__article-list">
                    <li class="vacancy-one__article-item">
                        <p>
                            Замена технических жидкостей и «расходников», проведение технического обслуживания автомобилей;
                        </p>
                    </li>
                    <li class="vacancy-one__article-item">
                        <p>
                            Диагностика и профилактический осмотр легковых автомобилей, выявление причин неисправностей;
                        </p>
                    </li>
                    <li class="vacancy-one__article-item">
                        <p>
                            Разборка, сборка, ремонт узлов и механизмов легковых автомобилей;
                        </p>
                    </li>
                    <li class="vacancy-one__article-item">
                        <p>
                            Поддержание в порядке своего рабочего места, инструментов и оборудования.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="vacancy-one__article">
            <h4 class="vacancy-one__article-title">Ты наш человек если</h4>
            <ul class="vacancy-one__article-list">
                <li class="vacancy-one__article-item">
                    <p>
                        Имеешь опыт работы не менее 1 года (профильное образование и опыт работы в дилерских СТО приветствуется!);
                    </p>
                </li>
                <li class="vacancy-one__article-item">
                    <p>
                        Ты прекрасно знаешь устройство автомобиля и обладаешь методикой технического обслуживания и ремонта современных легковых автомобилей;
                    </p>
                </li>
                <li class="vacancy-one__article-item">
                    <p>
                        Обладаешь навыками применения современного оборудования СТО;
                    </p>
                </li>
                <li class="vacancy-one__article-item">
                    <p>
                        Ты дисциплинированный и ответственный;
                    </p>
                </li>
                <li class="vacancy-one__article-item">
                    <p>
                        Готов к получению новых знаний и постоянному профессиональному обучению.
                    </p>
                </li>
            </ul>
        </div>
        <div class="vacancy-one__contacts">
            <div class="vacancy-one__contacts-info">
                <h4 class="vacancy-one__contacts-title">Стань частью нашей команды!</h4>
                <a href="tel:79256414474" class="vacancy-one__contacts-phone">+7 (925) 641-44-74</a>
                <a href="mailto:rabota@pitstop1.ru" class="vacancy-one__contacts-email">rabota@pitstop1.ru</a>
                <a href="https://goo.gl/maps/4gL1wz1Bvjk5mZbq5" class="vacancy-one__contacts-address" target="_blank">Наро - Фоминск, ул. Современная, 2 ТЦ “Клаксон”</a>
            </div>
            <div class="vacancy-one__contacts-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2765.32618711255!2d36.7349478!3d55.3830639!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46cab0ad8b53b59f%3A0xfe542c94d3601737!2z0J_QmNCi0KHQotCe0J8!5e1!3m2!1sru!2sru!4v1675971932454!5m2!1sru!2sru" width="650" height="500" style="border:0; border-top-right-radius: 30px; border-bottom-right-radius: 30px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>