@import './vars';
.container {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 10px;
}

.container-mini {
    max-width: 1190px;
    padding: 0 10px;
    margin: 0 auto;
}

.title {
    @extend %roboto-700;
    font-size: 50px;
    line-height: 120%;
    color: $dark;
}

.link {
    @extend %roboto-400;
    font-size: 16px;
    line-height: 140%;
    color: $dark;
    padding-right: 25px;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 3px;
        width: 18px;
        height: 18px;
        background-image: url(../../img/icons/arrow-right.svg);
        background-repeat: no-repeat;
    }
}

.hide{display: none;} 
.show{display: block;} 
.fade{animation-name: fade; animation-duration: 1.5s;} @keyframes fade{from{opacity: 0.1;}to{opacity: 1;}}