%roboto-400 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
%roboto-700 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
$dark: #181F22;
$red: #E41F17;
$dark-red: #B91913;
$light-grey: #E0E0E0;